<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeookSolutions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <BeookSolutions.Properties.Settings>
            <setting name="SetupComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolutionsActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
        </BeookSolutions.Properties.Settings>
    </userSettings>
</configuration>